body {
    font-family: 'PT Serif', serif;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

.head-line {
    font-size: 60px;
    text-align: center;
    color: #2c3cb5eb;
}

.blog-1 {
    text-align: center;


}

.button {
    padding: 10px 40px;
    color: mintcream;
    font-weight: bold;
    background-color: greenyellow;
    border: 2px solid greenyellow;
    border-radius: 5px;
    margin-left: 40%;
    margin-bottom: 10%;
}

.top-banner {
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;

}

.donet-head {
    text-align: center;
}

.donet-value {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

#three {
    border: 2px solid red;
    color: red;
}

.tk {
    margin-top: 20px;
    padding: 70px 80px;
    background-color: rgba(128, 128, 128, 0.089);
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 20px;

}

h6 {
    margin-top: 40px;
    text-align: center;
}

hr {
    width: 80%;
    background-color: chartreuse;
    margin-bottom: 30px;
}

.donaate-plan {
    text-align: center;

}

.plan {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.food {
    padding: 70px 30px;
    border-radius: 10px;
    background-color: #7fffd4c8;
    margin: 8px;
}

.Shelter {
    padding: 70px 30px;
    border-radius: 10px;
    background-color: hsla(0, 88%, 77%, 0.587);
    margin: 8px;
}

.Education {
    padding: 70px 30px;
    border-radius: 10px;
    background-color: #f5f5dcda;
    margin: 8px;

}

.button-1 {
    padding: 10px 20px;
    background-color: tomato;
    border: 2px solid tomato;
    border-radius: 5px;
    color: blue;
}

.blog-text {
    display: flex;
    padding-left: 30px;
    margin: 20px;
    margin: 30px;
}

.half-width {
    width: 50%;

}

.half-width img {
    width: 90%;
}